		body {background:#f2f2f2;}
		#wrapper {width:980px; margin:0 auto; background:#fff; padding:10px;}
		#container ul {padding-left:0; margin-left:0; background-color:#036; color:white; float:left; width:100%; font-family: sans-serif;}
		#container ul li {display:inline;}
		#container ul li a {padding:0.2em 1em; background-color:#036; color:white; text-decoration:none; float:left; border-right:1px solid #fff;}
		#container ul li a:hover {background-color:#369; color:#fff;}
		a:link, a:active, a:visited {text-decoration:underline; color:black;}
		a:hover {text-decoration:none; color:black;}
		#success {background:green; display:block; color:white; padding:10px;}
		#error {background:red; display:block; color:white; padding:10px;}
		#files {display:inline; clear:both;}
		#files li {list-style-type:none; float:left; padding-right:10px;}
